<style>
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button1 {margin:10px;}
.button2 {margin:10px;}
.button1 {border-radius: 50%;}
.button2 {border-radius: 50%;}
.button1 {padding: 14px 40px;}
.button2 {padding: 14px 40px;}
</style>
<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="button1" (click)="incrementCounter()">Increment</button>

<button class="button2" (click)="discrementCounter()">Discrement</button>
